APP_NAME=Business CRM System
SECRET_KEY=root
DATABASE_URL=mysql+pymysql://root@127.0.0.1:3306/crms
DEBUG=True
ACCESS_TOKEN_EXPIRE_HOURS=24
JWT_ALGORITHM=HS256
ALLOWED_ORIGINS=["http://localhost:5173","http://localhost:3000"]
